[Unit]
Description=drive the car
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/Desktop/workspace/selfdrivingcar/main.py

[Install]
WantedBy=multi-user.target